* {
  box-sizing: border-box;
}

body,
a,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Roboto";
}

.container {
  max-width: 1620px;
  width: 79%;
  height: 100%;
  margin-inline: auto;
}

/* Header */

.header {
  background-image: url(./img/headerBackground.jpg);
  width: 100%;
  height: calc(100vw / 2.4);
  background-repeat: no-repeat;
  background-size: cover;
}

.headerlogo{
  width: calc(100vw/7.86);
  height: auto;
}

.headerSide {
  display: flex;
  flex-direction: column;
gap: 20px;

}

.headerInfo {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
  max-width: calc(100vw / 3.3);
}

.headerBtn {
  display: flex;
  gap: 3.44%;
}

.headerBtnItem {
  background: #000000;
  opacity: 0.6;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  display: flex;
}

.headerBtnItem:hover {
  background: #2ecc71;
  opacity: 1;
}

.headerBtnItem:nth-child(1) {
  background-image: url(./img/headerBtn/headerApple.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.headerBtnItem:nth-child(1):hover {
  background-image: url(./img/headerBtnHover/headerAppleHover.svg);
}

.headerBtnItem:nth-child(2) {
  background-image: url(./img/headerBtn/headerAndroid.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.headerBtnItem:nth-child(2):hover {
  background-image: url(./img/headerBtnHover/headerAndroidHover.svg);
}

.headerBtnItem:nth-child(3) {
  background-image: url(./img/headerBtn/headerWindows.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.headerBtnItem:nth-child(3):hover {
  background-image: url(./img/headerBtnHover/headerWindosHover.svg);
}

.headerPositioning {
  height: calc(100vw / 2.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: 50%;
}

.headerPhone {
  align-self: flex-end;
  width: calc(100vw / 3.28);
  height: auto;
}

/* About */

.about {
  height: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.aboutIcon {
  width: 120px;
  height: 120px;
  background: #2ecc71;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 43%;
}

.aboutGear {
  background-image: url(./img/aboutGear.png);
}

.aboutStar {
  background-image: url(./img/aboutStar.png);
}

.aboutPlanet {
  background-image: url(./img/aboutPlanet.png);
}

.aboutTitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 118%;
  width: 100%;
  text-align: center;

  color: #111111;
}

.aboutText {
  max-width: 22.361vw;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  text-align: center;

  color: #696969;
}

/* notification */
.notification {
  background: #dae0e5;
}

.notificationPosition {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 430px;
  width: 100%;
}

.notificationSide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  height: fit-content;
}

.notificationTitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 118%;
  text-align: center;

  color: #111111;
}

.notificationParagraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #696969;
  max-width: 497px;
}

.notificationVideo {
  height: calc(34.72vw/1.61);
  width: 34.72vw;
}

.inputContainer{
  display: flex;
  width: 67%;
}

.notificationEmail {
  flex-grow: 2.3;
  height: 55px;
  background: #ffffff;
  border:1px solid #b7b7b7;
  border-right: none;
  border-radius: 15px 0px 0px 15px;

  /* text */
  text-indent: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #b7b7b7;

}

.notifyBtn{
  border: none;
  background: #2ECC71;
  border-radius: 0px 15px 15px 0px;
 flex-grow: 1;
  /* text */
  font-family: 'Roboto';
font-weight: 700;
font-size: 22px;
line-height: 118%;
text-align: center;
color: #FFFFFF;
}

/* Hero Section */
.heroSection {
  box-sizing: content-box;
  padding-block: 4.5vw;
  height:100%;
  width: 100%;
}

.heroPositioning{
  height: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
justify-content:center ;
}

.heroText{
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: #696969;
  max-width: 56vw;
}



.heroPhotoListItem {
  background: url(./img/heroPhoto.png);
  height: 60px;
  width: 60px;
}

.heroBottomText.heroText {
  font-size: 16px;
  max-width: 100%;
}

.heroName{
  font-size: 18px;
  font-weight: 700;
line-height: 108%;
color: #111111;
}

.heroTitle{
  font-weight: 700;
font-size: 24px;
line-height: 108%;
color: #111111;
}

.heroPhotoList {
  list-style: none;
  display: flex;
  gap: 5px;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2.8vw;
}

.heroRightEdgePhoto {
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.heroLeftEdgePhoto {
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.heroPhotoListItemHover{
  width: 100%;
  height: 100%;
}
.heroPhotoListItemHover:hover{
  background: rgba(46, 204, 113, 0.5);
}

.heroAdressContainer{
  height: 60px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.heroAdressItem{
  background: #C4C4C4;;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
}
.heroAdressItem:hover {
  background: #2ecc71;
}

 .heroAdressItem:nth-child(1) {
    background-image: url(./img/twitter.png);
    background-repeat: no-repeat;
    background-position: center;
} 

.heroAdressItem:nth-child(2) {
  background-image: url(./img/youtube.png);
  background-repeat: no-repeat;
  background-position: center;
} 

.heroAdressItem:nth-child(3) {
  background-image: url(./img/facebook.png);
  background-repeat: no-repeat;
  background-position: center;
} 

.heroAdressItem:nth-child(4) {
  background-image: url(./img/google.png);
  background-repeat: no-repeat;
  background-position: center;
} 

.heroAdressItem:nth-child(5) {
  background-image: url(./img/printerrests.png);
  background-repeat: no-repeat;
  background-position: center;
} 

.heroAdressItem:nth-child(6) {
  background-image: url(./img/linkedin.png);
  background-repeat: no-repeat;
  background-position: center;
} 

/* footer */

.footer {
  width: 100%;
  height: 106px;
  background: #DAE0E5;
}

.footerList{
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.footerListItem a {
  font-weight: 400;
font-size: 16px;
line-height: 162%;
color: #696969;
text-decoration: none;
}

/* adaptive */
/* adaptive */
/* adaptive */

@media screen and (max-width:1440px) {
  .heroPhotoList {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 2.8vw;
  }
}


@media screen and (max-width:1400px) {
  .heroPhotoListItem:nth-child(2) {
  display: none;
  }
}

@media screen and (max-width:1310px) {
  .heroPhotoListItem:nth-child(3) {
  display: none;
  }
}

@media screen and (max-width:1230px) {
  .heroPhotoListItem:nth-child(4) {
  display: none;
  }
}

@media screen and (max-width:1105px) {
  .heroPhotoListItem:nth-child(5) {
  display: none;
  }
}

@media screen and (max-width:1065px) {
  .heroPhotoListItem:nth-child(6) {
  display: none;
  }
}

@media screen and (max-width: 1024px) {

  /* header */
  .headerInfo {
    font-size: 22px;
}

.headerBtnItem{
  width: 45px;
  height: 45px;
}

/* about */

.aboutTitle{   
    font-size: 20px; 
}

.aboutText {
  font-size: 14px;
}

.aboutIcon {
  width: 100px;
  height: 100px;
}

/* notify */

.notificationPosition{
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
justify-content: center;
gap: 25px;
}


.notificationVideo {
align-self: center;
width: 360px;
height: auto;
}

.notificationSide {
width: 100%;
}

.notificationTitle{
width: 100%;
font-size: 20px;
}

.notificationParagraph{
 max-width: 100%;
 font-size: 14px;
}

.notificationEmail{
  height: 45px;
  border-radius: 20px 0 0 20px;
}

.notifyBtn{
  font-size: 20px;
  height: 45px;
  border-radius: 0px 20px 20px 0px;
}

/* heroSection */

.heroText{
  font-size: 17px;
}

.heroBottomText.heroText {
  font-size: 15px;
}

.heroName{
  font-size: 17px;
}

.heroTitle{
  font-size: 22px;
}

}

@media screen and (max-width:985px) {
  .heroPhotoListItem:nth-child(7) {
  display: none;
  }
}

@media screen and (max-width:900px) {
  .heroPhotoListItem:nth-child(8) {
  display: none;
  }

  .heroText{
    max-width: 100%;
  }
}

@media screen and (max-width:820px) {
  .heroPhotoListItem:nth-child(9) {
  display: none;
  }

  
}

@media screen and (max-width:768px) {

  /* header */

  .headerlogo {
    width: calc(100vw/4.86);
    height: auto;
}


element.style {
}
.headerSide {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

  .headerInfo{
    max-width: 90%;
    font-size: 16px;
  }

  .headerBtnItem{
    width: 30px;
    height: 30px;
  }
 
/* about */

  .about{
  height: fit-content;
  margin-block: 5vw;
 flex-direction: column;
 gap: 40px;

  }

  .aboutText{
    max-width: 80%;
  }

  .aboutIcon{
    width: 90px;
    height: 90px;
  }

/* notification */
.notification{
  height: 600px;
}

.notificationSide{
  gap: 35px;
}

.notificationPosition{
  gap: 35px;
}

.notificationEmail{
  height: 35px;
  border-radius: 15px 0 0 15px;
  font-size: 14px;
}

.notifyBtn{
height: 35px;
border-radius: 0 15px 15px 0;
font-size: 16px;
}




/* footer */

.footerList{
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 40px;
}

}

@media screen and (max-width:735px) {
  .heroPhotoListItem:nth-child(10) {
  display: none;
  }
}

@media screen and (max-width:655px) {
  .heroPhotoListItem:nth-child(11) {
  display: none;
  }
}

@media screen and (max-width:570px) {
  .heroPhotoListItem:nth-child(12) {
  display: none;
  }
}

@media screen and (max-width:490px) {
  .heroPhotoListItem:nth-child(13) {
  display: none;
  }
}

@media screen and (max-width:425px) {
  /* header*/

.headerInfo{
  font-size: 14px;
}
.headerBtnItem{
  height: 20px;
  width: 20px;
}

/* About */

.aboutIcon{
  width: 60px;
  height: 60px;
}

.aboutTitle{
  font-size: 16px;
}

.aboutText{
  font-size: 12px;
  max-width: 100%;
}

/* notify */

.notificationTitle{
  font-size: 16px;
}

.notificationParagraph{
  font-size: 12px;
}

.notificationEmail{
  font-size: 12px;
  text-indent: 15px;
}

.notifyBtn{
  font-size: 14px;
}

.notificationVideo{
  width: 100%;
  height: auto;
}


/* hero */

.heroText{
  font-size: 14px;
  max-width: 100%;
}

.heroName{
  font-size: 15px;
}

.heroTitle{
  font-size: 17px;
}

.heroBottomText.heroText{
font-size: 12px ;
}

/* footer  */

.footerListItem a {
font-size: 14px;
}
}

@media screen and (max-width:4100px) {
  .heroPhotoListItem:nth-child(14) {
  display: none;
  }
}

@media screen and (max-width:375px)  {
  
/* header */

.headerInfo{
  font-size: 12px;
}

/* footer */

.footer{
  height: 300px;
}

.footerList{
  flex-direction: column;
  flex-wrap: nowrap;
}

.footerListItem a {
font-size: 12px;
}








}

